@import url("./colors.css");
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMonoNL Nerd Font Mono";
    font-size: 14pt;
    min-height: 0;
    font-weight: 400;
}
window#waybar {
    opacity: 1;
    background: @background;
    color: @theme_text_color;
}
#workspaces button {
    padding: 0 10px;
    background: @background;
    color: @foreground;
    transition: all 0.2s linear;
    border-radius: 5px;
    margin: 0 2px;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-image: linear-gradient(0deg, @selection, @background-darker);
}
#workspaces button.active {
    background-image: linear-gradient(0deg, @purple, @selection);
    padding: 0 20px;
}
#taskbar button.active {
    background-image: linear-gradient(0deg, @selection, @background-darker);
}
#clock {
    padding: 0 15px;
    background: @background;
    /*background-image: linear-gradient(0deg, @purple, @background-darker); */
    border-radius: 5px;
    color: @purple;
}

#privacy, #tray, #battery, #pulseaudio {
    margin: 0 2px; /* Add spacing between items */
    color: @foreground;
    border: none;
    border-radius: 5px;
    padding: 0 10px; /* Add padding inside the modules */
}

#privacy:hover, #tray:hover, #battery:hover, #pulseaudio:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-image: linear-gradient(0deg, @purple, @selection);
    padding: 0 10px; /* Increase padding on hover */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}
